<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjht.jfmall.dao.AllLoanChickDao">
    <resultMap id="BaseResultMap" type="com.zjht.jfmall.entity.AllLoanChick">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="app_user_id" jdbcType="VARCHAR" property="appUserId"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="all_loan_id" jdbcType="VARCHAR" property="allLoanId"/>
    </resultMap>
</mapper>